@import '@fontsource/average/400.css';
@import '@fontsource/average-sans/400.css';

:root {
  --un-font-sans: 'Average Sans', sans-serif;
  --un-font-serif: 'Average', serif;
}

body {
  font-family: 'Average Sans', sans-serif;
}
