@import '@fontsource/average/400.css';
@import '@fontsource/average-sans/400.css';
@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
	--un-font-sans: 'Average Sans', sans-serif;
	--un-font-serif: 'Average', serif;
}

body {
	font-family: 'Average Sans', sans-serif;
}
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/pine';
