{
    # this disable caddy reload
    admin off
    # prevent persistent since config is provided at start anyway
    persist_config off
    # Railway auto terminate tls
    auto_https off

    log {
        format json
    }

    # Don't log the loadbalancer's ip
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

:80 {
    # reroute api routes through railway internal network. btw this has to be first
    handle /api/* {
        reverse_proxy {$BACKEND_URL}
    }

    handle /health {
        respond "OK" 200
    }

    # For anything else, serve index.html
    handle {
        root * /app/dist
        encode gzip
        file_server
        try_files {path} /index.html
    }
}
